################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetCamp/.vs/NetCamp/v15/Server/sqlite3/db.lock
/NetCamp/.vs/NetCamp/v15/Server/sqlite3/storage.ide
/NetCamp/.vs/NetCamp/v15/Server/sqlite3/storage.ide-shm
/NetCamp/.vs/NetCamp/v15/Server/sqlite3/storage.ide-wal
